.debug {     
    border: 1px solid red;
}

.header {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
}

.header .kop {
    font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
    font-size: 3em;
    font-variant: small-caps;
    color:black;
    letter-spacing: 5px;
}



.fotoKaartje {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    max-width: 1088px;
    margin-top: 100px;
    
}

.fotoKaartje .foto {
    display: flex;
    align-items: center;
    background-color: black;
    grid-column: 1/2;
    grid-row: 1/5;
}
.fotoKaartje .foto img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.fotoKaartje .Titel {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px;
    text-align: top;
    
}

.fotoKaartje .Titelsub {

    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px;
    text-align: top;
}

.fotoKaartje .dd {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px;
    text-align: top;
}

.fotoKaartje .Omschrijving {
    border-top: 0.5px solid black;
    grid-column: 2/3;
    grid-row: 4/5;
    padding: 10px;
    text-align: top;
}

p {
    font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
    font-size: 0.9em;
    color: #000000;
    letter-spacing: 2px;
  }

  h1 {
    font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
    font-size: 2em;
    font-variant: small-caps;
    color:black;
    letter-spacing: 5px;
}

h2 {
    font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
    font-size: 1em;
    font-variant: small-caps;
    color: #000000;
    letter-spacing: 2px;
}

h3 {
    font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
    font-size: 0.7em;
    font-variant: small-caps;
    color: #485d69;
}



